.spec-checkbox {
    width: 10%;
}
.spec-menu {
    height: 300px;
}
.bg-main {
    background-color: #0451CB;
}

.nav-image {
    height: 60px;

}

.logo {
    background-color: #004ecb;
}
.no-underline:hover {
    text-decoration: none;
}

.p-relative {
    position: relative;
}

body {
    background-color: #fff;
}
.h-400px {
    height: 400px;
}

.overflowy {
    overflow-y: auto;
}
.p-relative {
    position: relative;
}

.error {
    position: absolute;
    top: 35px;
    left: 15px;
}